:root {
	--sp-primary: #012562;
	--sp-accent: #2c8be8;
	--sp-accent-blue: #0057ad;
	--sp-accent-light-blue: #a1deff;
}

.sp-upm-loading-indicator {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255 / 89%);
}

.sp-upm-loading-icon {
    width: 100px;
}

.sp-upm-loading-indicator:not(.is-active) {
    display: none;
}

.treatments-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.treatments-wrapper .approved-treatments-wrapper {
	background-color: var(--sp-accent);
	color: #fff;
	border-radius: 10px;
	overflow: hidden;
    padding: 0;
}

.active-treatments-wrapper--medical-cannabis {
    order: -1;
}

.treatments-wrapper .approved-treatments-wrapper .at-wrapper {
    padding: 8px;
}

.treatment-heading {
	--e-global-color-c1b1083: var(--sp-primary);
	margin-bottom: 12px;
}

.approved-treatments-wrapper p {
    margin-bottom: 0;
    line-height: 1;
}

.at-content_heading {
    text-transform: uppercase;
}

.at-content_info {
    font-size: 12px;
}

.at-wrapper--with-cta {
    display: flex;
    justify-content: space-between;
}

.at-wrapper--with-cta .at-items {
    width: calc(60% - 10px);
}

.at-wrapper--with-cta .sp-cp-cta {
    width: 45%;
}

.at-wrapper--with-cta .sp-cp-cta .sp-active-treatment-icon {
    width: 100%;
    text-transform: uppercase;
    color: var(--sp-primary);
    font-size: 12px;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
    gap: 10px;
    display: block;
}

.at-wrapper--with-cta .sp-cp-cta .sp-active-treatments-button {
    display: block;
    width: 100%;
}

.at-active-date {
    background-color: var(--sp-accent-blue);
    color: #ffff;
    padding: 9px 8px;
    font-size: 10px;
    font-weight: 600;
}

.sp-upm-modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -9999999;
    transition: all ease-in-out cubic-bezier(0.215, 0.610, 0.355, 1);
}

.sp-upm-modal.is-active {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.sp-upm-modal-overlay {
    position: absolute;
    z-index: 0;
    background: hsl(0deg 0% 0% / 15%);
    inset: 0;
}

.sp-upm-loading-indicator {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255 / 89%);
}

.sp-upm-loading-icon {
    width: 100px;
}

.sp-upm-modal-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 2px 25px 0 #dadada;
    border-radius: 10px;
    position: relative;
}

#sp-upm-modal-close-button {
    font-size: 20px;
    line-height: 15px;
    width: 20px;
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    cursor: pointer;
}

#sp-upm-modal-close-button > svg {
    width: 20px;
    height: 20px;
}

.sp-upm-modal-header h3 {
    font-size: 40px;
    line-height: 1;
    margin: 0;
}

.sp-upm-modal-body {
    font-size: 18px;
    margin: 20px 0 50px;
}

.sp-upm-modal-footer .e-button {
    font-size: 18px;
    padding: 12px 25px;
    margin: 0 5px;
}

.sp-upm-banner-message {
    margin: 0;
    padding: 0.7rem;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    border-radius: 0.375rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
    margin-bottom: 10px;
}

.sp-upm-banner-message:not(.is-active),
.sp-upm-loading-indicator:not(.is-active) {
    display: none;
}

.sp-upm-banner-message--error {
    background-color: rgb(254 226 226 / var(--tw-bg-opacity));
    color: rgb(185 28 28 / var(--tw-text-opacity));
}

.sp-upm-message-header {
    margin: 0;
    font-size: 1em;
    color: rgb(127 29 29 / var(--tw-text-opacity));
}

.sp-upm-message-body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.sp-upm-banner-message-icon {
    padding: 6px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    --tw-gradient-from: #fee2e2 0%;
    --tw-gradient-to: #fca5a5 100%;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    display: flex;
    align-items: center;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(185 28 28 / var(--tw-text-opacity));
}

.sp-upm-banner-message-icon svg {
    color: inherit;
    fill: rgb(185 28 28 / var(--tw-text-opacity));
}